*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}
body{
        background:#92d5df;
        background-size: cover;
} 

header{
    width: 100%;
    height: 80px;
    background-color: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo{
    font-family: Helvetica;
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0.5px;
}
.nav-bar ul li a:hover{
    background: #14d4ce;
}
.nav-bar ul li a.active {
    color: #fff;
    background: #14d4ce;
}
.checkbtn{
    color:white;
    font-size:40px;
    float:right;
    line-height: 65px;
    margin-right:30px;
    display:none;
}
#check{
    display:none;
}
@media only screen and (max-width: 1320px) {
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    header{
        padding: 0 30px;  
    }
}
@media only screen and (max-width: 900px) {
    .checkbtn{
        display:block;
     }
     #check:checked ~ .nav-bar{
        left:0;
    }   
   .nav-bar{
    height: 450px;
    position: absolute;
    top:50px; 
    left:-100%;
    right: 0;
    width: 100vw;
    background-color: #11101b;
    transition: 0.2s;
    z-index:1;
   }
   .nav-bar ul{
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;  
       
   }
}
.nav-bar .menu{
    width: 35px;
    display: block;
    position: absolute;
    right: 50px;
    top: 20px;
}

.container .heading{
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
    font-family: Helvetica;
    text-shadow: 0 .5rem 1rem #000;
    color: #fff;
  }
  
  .container .music-container{
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    margin-top:20px;
    text-shadow: 2px 2px 5px rgb(42, 3, 76);
  }
  
  .container .music-container .box{
    height: 25%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #29a9a929;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem #290691;    
    margin: 2rem;
    padding:10px;
  }
  
  .container .music-container .box .image{
    flex-basis: 25%;
  }
  
  .container .music-container .box .image img{
    height: 100%;
    width: 200px;
  }
  
  .container .music-container .box .music{
    flex-basis: 75%;
  }
  

button{
    padding: 5px 10px;
    border-radius: 20px;
    color: #08eae6;
    background-color: #ffffff;
}
h1{
    font-family: Helvetica;
}
p{
    text-align: center;
    font-size: 35px;
    font-family: Helvetica;
    color: rgb(5, 58, 69);
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px rgb(42, 3, 76);
}
.container .music-container .box .music audio{
    width: 700px;
    }
    @media screen and (max-width:992px){
        .container .music-container .box .music audio{
            width: 400px;
            }
     }
     @media screen and (max-width:550px){
        .container .music-container .box .music audio{
            width: 200px;
            }
     }


.footer{
    padding: 40px 0;
    background-color: rgb(58, 43, 62);
  }
.footer h4{
    color: #66fcf1;
    text-align: center;
    font-size: 20px;
    padding-bottom: 25px;
}
.footer ul{
    margin-top: 0;
    padding-bottom: 25px;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul a{
    color: #66fcf1;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 20px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer p{
    color: #66fcf1;
    font-family: 'roboto';
    line-height: 50px;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
@media screen and (max-width:900px){
    flex-direction: column;
}
/*New styles added*/
.list .flex-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
